.button{

    -fx-background-color: transparent;

}
/*
#abrir{

    -fx-background-image: url("icones/open.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#play{

    -fx-background-image: url("icones/play.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#pause{

    -fx-background-image: url("icones/pause.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#skipF{

    -fx-background-image: url("icones/pause.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#skipB{

    -fx-background-image: url("icones/pause.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#faster{

    -fx-background-image: url("icones/pause.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#slower{

    -fx-background-image: url("icones/pause.png");
    -fx-background-size: 40 40;
    -fx-background-position: center;
}

#videoMenuBar{

    -fx-background-color: lightcyan;
}
]*/
